
*
{    
    margin : 0px;
    padding: 0px;        
    text-decoration: none;
    font-family: Filson Pro;
}
.body
{      
    background-color: rgb(5, 158, 118);    
    border-bottom:5px solid #E43440;
    display: flex;    
    flex-direction: column;
    
}
.footer_normal
{       
    color: white;
    background-color: #048162;
    height: 300px;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_responsive
{       
    color: white;
    background-color: #048162;
    height: 300px;    
    display: none;
    align-items: center;
    justify-content: center;
}
.Desplegables
{   
    box-shadow: 
    inset  0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0,0,0,0.1);
    
    background-color: white;
    margin: 100px 230px;
    border-radius: 10px;
    padding: 10px;
    
    margin-left: 250;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;   
}
.btn-item
{    
    cursor: pointer;
    box-shadow: 
    inset  0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0,0,0,0.1);
        
    background-color: rgb(100, 175, 89);     
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    
    font-size: 25px;
    font-weight: bold;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.item-content
{
    display: flex;
    flex-wrap: wrap;              
    justify-content:center;
    flex-direction: column;    

    
    background-color: aliceblue;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
}
.division
{   
    display: flex;     
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.titulo
{    
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-self: flex-start;
    align-items: center;
    color: #009E76;
}
.item-content a
{
    box-shadow: 
    inset  0 0 0 1px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0,0,0,0.1);

    background-color: white;   
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;   
    cursor: pointer;
       
    padding: 10px 10px 5px;
    margin: 0 5px;
    margin-bottom: 10px;
    width: 200px;
    height: 190px;
}

h4
{      
    color:#64AF59;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
h4:hover{color: #009E76;}
h4:active{color: #009E76;}
.Materias
{
    width: 200px;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.active + .item-content
{
    max-height: 5000px;
    padding: 10px;
    opacity: 1;
}
.btn-item.active{background-color:#E43440;}

.btn-item:after
{
    content: "\002b";
    float: right;
}
.btn-item.active:after
{
    content: "\02212";
}
@media screen and (max-width:1205px)
{
    .division
    {    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
    }    
}
@media screen and (max-width:834px)
{
    .footer_normal
    {          
        display: none;
    }
    .footer_responsive
    {           
        display: flex;
        text-align: center;
    }
}